* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    background-color: lightskyblue;
    /* color: grey; */
}

#gameboard {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    gap: 2px;
    background-color: rgb(230, 193, 241);
    font-size: 150px;
    /* border: 2px solid; */
    font-family: "schoolbell";
}

.player-section {
    background-color:darkorchid;
    padding: 20px;
    color: wheat;
    font-size: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    font-family: "schoolbell";
}

#centre {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.gamesquare {
    align-self: center;
    justify-self: center;
    background-color: rgb(230, 193, 241);
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(5deg);
}

.gamesquare.X {
    color: blue;
}

.gamesquare.O {
    color: purple;
}

