* {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
}

.gamesquare {
    align-self: center;
    justify-self: center;
    border: 1px solid;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

